.ConfigBanner {
  height: 10%;
  align-content: center;
}

input {
  margin-left: 20px;
  vertical-align: middle;
}

button { 
  margin-left: 20px;
}


#speed-slider {
  direction: rtl;  
}

form {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
}

text {
  color: white;
  font: bold;
  margin-left: 10px;
}
