.ConfigBanner {
  height: 10%;
  align-content: center;
}

input {
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
}

button {
  margin-top: 10px;
  text-align: right;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
}

#speed-slider {
  direction: rtl;
}

form {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
}

text {
  color: white;
  font: bold;
  vertical-align: bottom;
  margin-left: 10px;
}
